.userList {
  width: 100%;
}

.card {
  box-shadow: none;
  border-radius: 10px;
}

.card :global(.ant-card-head) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 0 20px;
  min-height: 56px;
}

.card :global(.ant-card-body) {
  padding: 0;
  padding-top: 8px;
}
